aniso8601==8.1.0
asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
bidict==0.21.2
boto3==1.16.56
botocore==1.19.56
click==7.1.2
colorama==0.4.4
Django==3.1.5
Flask==1.1.2
Flask-Cors==3.0.10
Flask-JWT-Extended==3.25.0
Flask-RESTful==0.3.8
Flask-SocketIO==1.0
image==1.5.33
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
MarkupSafe==1.1.1
mysqlclient==1.4.6
packaging==20.8
Pillow==8.1.0
pluggy==0.13.1
pretty-errors==1.2.19
py==1.10.0
PyJWT==1.7.1
PyMySQL==1.0.2
pyparsing==2.4.7
pytest==6.2.0
pytz==2020.4
s3transfer==0.3.4
schematics==2.1.0
six==1.15.0
SQLAlchemy==1.3.22
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.2
Werkzeug==1.0.1
